# Superset
SUPERSET_SECRET_KEY=change_this_with_a_strong_random_key
SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWORD=rahasia123
SUPERSET_ADMIN_EMAIL=admin@mail.com
SUPERSET_ADMIN_FIRSTNAME=Admin
SUPERSET_ADMIN_LASTNAME=User
SUPERSET_PORT=8088

# ClickHouse
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_NATIVE_PORT=9000
CLICKHOUSE_DATABASE=smart_dw
CLICKHOUSE_SERVER_USER=default
CLICKHOUSE_SERVER_PASSWORD=
CLICKHOUSE_USER=superset
CLICKHOUSE_PASSWORD=superset_lokal_kamu
PIPELINE_INPUT_FILE=amazon_sale_report.csv
PIPELINE_DEBUG_KEEPALIVE=false
