# Superset
SUPERSET_SECRET_KEY=change_this_with_a_strong_random_key
SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWORD=rahasia123
SUPERSET_ADMIN_EMAIL=admin@mail.com
SUPERSET_ADMIN_FIRSTNAME=Admin
SUPERSET_ADMIN_LASTNAME=User
SUPERSET_PORT=8088

# ClickHouse
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_NATIVE_PORT=9000
CLICKHOUSE_DATABASE=smart_dw
CLICKHOUSE_SERVER_USER=default
CLICKHOUSE_SERVER_PASSWORD=
CLICKHOUSE_USER=superset
CLICKHOUSE_PASSWORD=superset_lokal_kamu
CLICKHOUSE_PIPELINE_USER=pipeline
CLICKHOUSE_PIPELINE_PASSWORD=pipeline_lokal_kamu
PIPELINE_INPUT_FILE=amazon_sale_report.csv
PIPELINE_DEBUG_KEEPALIVE=false
PIPELINE_AUTO_DOWNLOAD=true
PIPELINE_FORCE_DOWNLOAD=false
KAGGLE_DATASET=thedevastator/unlock-profits-with-e-commerce-sales-data
KAGGLE_SOURCE_FILENAME=Amazon Sale Report.csv
KAGGLE_USERNAME=your_kaggle_username
KAGGLE_KEY=your_kaggle_key
