# Python
.venv/
__pycache__/
*.pyc

# Dataset besar
data/raw/*.csv
data/raw/*.xlsx
data/raw/*.xls
data/raw/*.zip
data/sample/*.csv

# ClickHouse / Docker volume / local state
clickhouse_data/
*.db
*.parquet
*.arrow

# Logs
*.log
logs/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment
.env

# Temporary outputs
tmp/
temp/